@media (min-width: 1000px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.15rem;
  }

  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-card {
    width: 95%;
    padding-right: auto;
  }
  .subscription {
    max-width: 48%;
    background: white;
  }
  .sub-cards {
    display: flex;
    .sub-card {
      flex: 1;
    }
  }
}
